.content1 img {
    max-width:350px;
    padding:25px;
}
.content1 {
    display:inline-block;
    
}
.content2 img {
    max-width:700px;
    

}
.content2 {
    display:inline-block
}
#paragraph1 {
   font-size:26px;
   margin:0px 0px 100px 150px;
   max-width:500px;
   
}
.about-page {
    background-color:rgba(102, 161, 154, 0.618)
}
#paragarph2 {
    max-width:100px;
    font-size:20px;
}
#navbar {
    background-color: rgb(77, 77, 170);
    display: flex;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar #logo {
    margin-right: auto;
}

#navbar #logo img {
    width: 50px;
}
#navbar a:hover {
    color: rgb(77, 77, 170);
    background-color: white;
    transition-duration: 1s;
}