* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: athelas;
}
#navbar {
    background-color: white;
    display: flex;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    color: #333;
    padding: 24px;
}

#navbar #logo {
    margin-right: auto;
    font-size: 24px;
}
#navbar a:hover {
    color: rgb(77, 77, 170);
    background-color: white;
    transition-duration: 1s;
}
.buttons a{
    border: 3px solid #333;
    color: #333;
    text-decoration: none;
    padding: 10px;
    margin: 20px;
    border-radius: 24px;
    padding: 10px 48px 10px 48px;
}
.buttons a:hover {
    border: 3px solid chocolate;
    transition: .5s;
}
.buttons {
    margin: 48px 0px 48px 0px;
}
#content1 h1 {
    margin: 24px;
    font-size: 58px;
    font-family: big caslon medium;
}
.grid img {
    max-width: 400px;
    margin: 24px;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
}
.grid p {
    font-size: 20px;
    margin: 48px;
    margin-top: 200px;
}
#introparagraph  {
    text-align: center;
    font-size: 18px;
    margin: 48px;

}
#content1 p a {
    text-decoration: none;
    color:chocolate;
}
.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 50px;
}
.grid2 a {
    text-decoration: none;
    color: #333;
    background-color: white;
    text-align: center;
    margin-top: 125px;
    margin-bottom: 125px;
    padding-top: 20px;
    border: 2px solid white;
}
.grid2 a:hover {
    border: 2px solid chocolate;
    transition: .5s;
}
.grid2 img {
    max-width: 250px;
    align-items: center;
    padding: 10px;
}
.gallerybutton a {
    border: 4px solid #333;
    color: #333;
    text-decoration: none;
    margin-left: 500px;
    margin-bottom: 24px;
    padding: 18px;
    font-size: 20px;

}
ul {
    text-align: center;
    display: inline-block;
}
li {
    list-style: none;
}
h3 {
    margin-left: 220px;
    font-size: 30px;
}
#footer {
    background: chocolate;
    color: white;
    padding: 12px;
}

#footer a {
    text-decoration: none;
    color: white;
}

#footer-navbar {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
#layout {
    width: 800px;
    margin: 48px auto;
    font-size: 24px;
}
@media screen and (max-width: 900px) and (min-width: 480px) {
    #navbar {
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;
    }
    #navbar #logo{
        align-items: center;
        margin: 0px;
    }
    #footer-navbar {
        display: flex;
        flex-direction: column;
    }
    #content1 h1 {
        font-size: 36px;
    }
    .grid {
        display: flex;
        flex-wrap: wrap;
    }
    .grid2 {
        display: flex;
        flex-wrap: wrap;
    }
}