* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: athelas;
}
#navbar {
    background-color: white;
    display: flex;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    color: #333;
    padding: 24px;
}

#navbar #logo {
    margin-right: auto;
    font-size: 24px;
}
#navbar a:hover {
    color: rgb(77, 77, 170);
    background-color: white;
    transition-duration: 1s;
}
#hero-4 {
    background-image: url("../images/markus-winkler-q3QPw37J6Xs-unsplash.jpg");
    height: 60vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}
