* {
    box-sizing:border-box
}
body {
    margin: 0px;
    font-family: sans-serif;
    background-color: lightgray;
}

#layout {
    max-width: 900px;
    margin: 48px auto;
}
.gallery {
    columns: 3 auto;

}
.gallery img {
    width: 100%;
    margin-bottom: 1rem;
}
#layout h2 {
    margin-bottom: 48px;
    font-size: 3vw;
    color: white;
}
a {
    text-decoration: none;
    color: white;
}
h1 {
    font-size: 5vw;
    padding:15px;
    color: white;
}

#navbar {
    background-color: white;
    display: flex;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    color: #333;
    padding: 24px;
}

#navbar #logo {
    font-size: 24px;
}
#navbar #logo {
    margin-right: auto;
}
#navbar a:hover {
    color: rgb(77, 77, 170);
    transition-duration: 1s;
}