* {
    box-sizing:border-box
}
body {
    margin: 0px;
    font-family: sans-serif;
    background-image: url("../images/background.jpg");
}

#layout {
    max-width: 900px;
    margin: 48px auto;
}
.gallery {
    columns: 3 auto;

}
.gallery img {
    width: 100%;
    margin-bottom: 1rem;
}
#layout h2 {
    margin-bottom: 48px;
    font-size: 3vw;
    color: white;
}
a {
    text-decoration: none;
    color: white;
}
h1 {
    font-size: 5vw;
    padding:15px;
    color: white;
}

#sidebar-content ul {
   list-style-type: none;
   font-size: 20px;
}
