* {
    box-sizing:border-box
}
body {
    margin: 0px;
    font-family: sans-serif;
    background-image: url("../images/background.jpg");
}
#hero {
    background-image: url("../images/graphicdesignhero.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-end;

}

#hero h2 {
    font-size: 8vw;
    margin-bottom: 4vh;
    margin-right: 5vw;
}

#hero h4 {
    font-size: 3vw;
    margin: 0px 5vw 0px 0px;
    margin-top: 5vw;
}

#hero a {
    font-size: 1.5vw;
    display: inline-block;
    background-color: #333333;
    color: white;
    text-decoration: none;
    padding: 24px;
    margin: 5vh 5vw 10vh 0px;
}
.spacer {
    height: 100vh;
}
#sidebar a {
    text-decoration: none;
    padding: 7px;
    color: white;
    margin-left: 25px;
}
#sidebar {
    display: grid;
    font-size: 20px;

}
h1 {
    font-size: 5vw;
    color: white;
}
#card-section {
    background-color: #333333;
    color: white;
    padding: 48px;
}

.card-container {
    display: flex;
    justify-content: space-between;
}

.card {
    flex: 1;
    border: 3px solid rgb(255, 242, 0);
    padding: 36px;
    text-align: center;
    margin: 36px;
}

.card h3 {
    font-size: 36px;
    margin: 0px;
}

.card p {
    font-size: 24px;
    margin: 24px 0px 0px;
}
.card a {
    text-decoration: none;
    color: white;
}
#hero h2 {
    text-align: right;
}
.spacer {
    background-image: url("../images/background.jpg");
    height: 50vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}
.card:hover{
    background-color: rgb(255, 242, 0);
    color: #333;
    transition-delay: .5s;
}
.card a:hover {
    color:#333;
}
#navbar {
    background-color: white;
    display: flex;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    color: #333;
    padding: 24px;
}

#navbar #logo {
    margin-right: auto;
}

#navbar #logo  {
    font-size: 24px;
}
#navbar a:hover {
    color: rgb(77, 77, 170);
    transition-duration: 1s;
}






@media screen and (max-width: 500px) and (min-width: 420px) {

}
@media screen and (max-width: 900px) and (min-width: 481px) {

}