* {
    box-sizing:border-box
}
body {
    margin: 0px;
    font-family: athelas;
}
#hero {
    background-image: url("../images/sincerely-media-HoEYgBL_Gcs-unsplash.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column; 
    justify-content: center; 

}

#hero h2 {
    font-size: 6vw;
    margin-bottom: 4vh;
    margin-left: 5vw;
    font-family: big caslon medium;
}

#hero h4 {
    font-size: 3vw;
    margin: 0px 0vw 5px 30px;
    margin-top: 5vw;
}

#hero a {
    font-size: 1.5vw;
    display: inline-block;
    background-color: chocolate;
    border: 2px solid chocolate;
    border-radius: 48px;
    color: white;
    text-decoration: none;
    padding: 18px;
    margin: 5vh 5vw 20vh 30px;
    max-width: 20vw;
    text-align: center;
}
#hero a:hover {
    border: 2px solid chocolate;
    background-color: white;
    color: black;
    transition: .5s;
}
.spacer {
    height: 100vh;
}
#sidebar a {
    text-decoration: none;
    padding: 7px;
    color: white;
    margin-left: 25px;
}
#sidebar {
    display: grid;
    font-size: 20px;

}
h1 {
    font-size: 5vw;
    color: white;
}
#card-section {
    background-color: #333333;
    color: white;
    padding: 48px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    flex: 1;
    border: 3px solid #aaa;
    padding: 36px;
    text-align: center;
    margin: 36px;
    max-width: 200px;
}

.card h3 {
    font-size: 36px;
    margin: 0px;
}

.card p {
    font-size: 24px;
    margin: 24px 0px 0px;
}
.card a {
    text-decoration: none;
    color: white;
}
.spacer {
    background-color: #333;
    height: 60vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

.card a:hover {
    color:chocolate;
    transition: .5s;
}
#navbar {
    background-color: white;
    display: flex;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    color: #333;
    padding: 24px;
}

#navbar #logo {
    margin-right: auto;
}

#navbar #logo  {
    font-size: 24px;
}
#navbar a:hover {
    color: rgb(77, 77, 170);
    transition-duration: 1s;
}
#layout {
    max-width: 900px;
    margin: 48px auto;
}
.gallery {
    columns: 3 auto;

}
.gallery img {
    width: 100%;
    margin-bottom: 1rem;
}
#layout h2 {
    margin-bottom: 48px;
    font-size: 30px;
    color: #333;
    text-align: center;
}
#footer {
    background: chocolate;
    color: white;
    padding: 12px;
}

#footer a {
    text-decoration: none;
    color: white;
}

#footer-navbar {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
#layout {
    width: 800px;
    margin: 48px auto;
    font-size: 24px;
}



@media screen and (max-width: 900px) and (min-width: 400px) {
    #hero a {
        padding: 5px;
        font-size: 2vw;
    }
    .card-container {
        justify-content: center;
    }
    .gallery {
        columns: 1 auto;
        margin-left: 50px;
    }
    .gallery img {
        width: 50%;
    }
    #layout h2 {
        margin-top: 200px;
        text-align: left;
        margin-left: 40px;

    }
   
    #footer-navbar {
        display: flex;
        flex-direction: column;
    }
   
}