* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
#header {
    position: sticky;
    top: 0px;
}

.content-column {
    width: 800px;
    margin: 0px auto;
}

#navbar-top .content-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
}  
#navbar-top {
    background-color: white;
}
#navbar-top h1 {
    font-size: 55px;
}

#navbar-top a {
    text-decoration: none;
    color: indigo;
    padding: 24px 0px;
}

#navbar-top .content-column div a {
    padding: 10px;
}

#navbar-top .cta-buttom {
    background-color: white;
    color: green;
    border-radius: 36px;
    padding: 15px 20px;
    font-size: 17px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
}

#navbar-bottom {
    background: linear-gradient(to bottom, rgb(108, 66, 139), indigo);
}

#navbar-bottom .content-column {
    display: flex;
    justify-content: space-between;
}

#navbar-bottom a {
    text-decoration: none;
    color: white;
    padding: 12px 0px;
}
#search-bar {
    background-color: #d4d4d4;
    border: 0px;
    width: 200px;
    height: 35px;
    margin-top: 12px;
    border-radius: 24px;
    margin: 24px;
    padding: 10px;
    font-size: 15px;
}
#hero-4 {
    background-image: url("../images/pumpkins.jpg");
    height: 50vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}

#hero-4 .hero-content {
    position: absolute;
    top: 10%;
    left: 15%;
}

#hero-4 h2 {
    font-size: 6vw;
    margin-bottom: 5vh;
    margin-right: 5vw;
}

#hero-4 h4 {
    font-size: 3vw;
    margin: 0px 5vw 0px 0px;
}

#hero-4 a {
    font-size: 1.5vw;
    display: inline-block;
    background-color: #333333;
    color: white;
    text-decoration: none;
    padding: 24px;
    margin: 5vh 5vw 10vh 0px;
}
.content1 h1 {
    text-align: center;
}
.single-column {
    min-width: 600px;
    max-width: 1200px;
    margin: 0px auto;
}
#layout {
    margin: 48px auto;
    text-align: center;
}
#layout {
    columns: 3 auto;
    margin: 35px;
    

}
#layout img {
    width: 100%;
    margin-bottom: 1rem;
}
img:hover {
    opacity: 50%;
    transition: .5s;

}
.horizontal-masonry-gallery h1 {
    padding: 24px;
    text-align: left;
    font-size: 6vw;
    display: inline-block;
}
.horizontal-masonry-gallery a {
    text-decoration: none;
    color: white;
    background-color: indigo;
    display: inline-block;
    padding: 15px;
    margin: 15px;
}
#card-section {
    background-color: #5b00ed;
    color: #bfefff;
    padding: 48px;
    margin: 24px;
    margin-left: 24px
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card {
    flex: 1;
    text-align: center;
    margin: 10px;
    margin-left: 15px;
}
.card img {
    border: 0px solid black;
    border-radius: 100%;
    max-width: 150px;
}
#layout2 {
    margin: 48px auto;
    text-align: center;
}
#layout2 {
    columns: 3 auto;
    margin: 35px;
    

}
#layout2 img {
    width: 100%;
    margin-bottom: 1rem;
}
img:hover {
    opacity: 50%;
    transition: .5s;

}
.horizontal-masonry-gallery2 h1 {
    padding: 24px;
    text-align: left;
    font-size: 48px;
    display: inline-block;
}
.horizontal-masonry-gallery2 a {
    text-decoration: none;
    color: white;
    background-color: indigo;
    display: inline-block;
    padding: 15px;
    margin: 15px;
}
#footer {
    background: linear-gradient(to bottom, rgb(108, 66, 139), indigo);
    color: white;
    padding: 12px;
}

#footer a {
    text-decoration: none;
    color: white;
}

#footer-navbar {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

#footer-columns-navbar {
    width: 800px;
    margin: 0px auto;
    padding: 48px 0px;
    display: flex;
    justify-content: space-between;
}

#footer-columns-navbar a {
    display: block;
    padding: 8px 0px;
}


@media screen and (max-width: 1000px) and (min-width:801px){
    #navbar-top {
        display: flex;
        flex-wrap: wrap;
    }
    #navbar-top h1 {
        font-size: 45px;
    }
    
}
@media screen and (max-width: 800px) {
   
    #search-bar {
        display: none;
    }
    #navbar-top {
        display: flex;
        flex-wrap: wrap;
    }
    #navbar-bottom {
        display: flex;
        flex-wrap: wrap;
    }
    #navbar-top h1 {
        font-size: 30px;
    }
    #header {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
    #layout, #layout2 {
        columns:2;
    }
}

