* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: montserrat;
}
#navbar {
    background-color:black;
    display: flex;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar #logo {
    margin-right: auto;
}

#navbar #logo img {
    width: 200px;
}
.single-column {
    min-width: 600px;
    max-width: 1200px;
    margin: 0px auto;
}

#card-section {
    background-color: #5b00ed;
    color: #bfefff;
    padding: 48px;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card-container img {
    max-width: 250px;
}
.card {
    flex: 1;
    border: 3px solid #E1A177;
    padding: 36px;
    text-align: center;
    margin: 36px;
}
.card h3 {
    font-size: 24px;
    margin: 0px;
}

.card p {
    font-size: 24px;
    margin: 24px 0px 0px;
}
#market-content p {
    padding: 48px;
}
#market-content h1 {
    padding: 15px;
    font-family: lobster;
    font-size: 48px;
}
#market-content {
    max-width: 1200px;
    margin: 48px auto;
    text-align: center;
}
#footer {
    background-color:#E1A177;
    color: white;
    padding: 12px;
}

#footer a {
    text-decoration: none;
    color: white;
}

#footer-navbar {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
#footer-columns-navbar {
    width: 800px;
    margin: 0px auto;
    padding: 48px 0px;
    display: flex;
    justify-content: space-between;
}

#footer-columns-navbar a {
    display: block;
    padding: 8px 0px;
}
