* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: montserrat;
}
#navbar {
    background-color:black;
    display: flex;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar #logo {
    margin-right: auto;
}

#navbar #logo img {
    width: 200px;
}

#card-section {
    background-color: #5b00ed;
    color: #bfefff;
    padding: 48px;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card-container img {
    max-width: 250px;
}
.card {
    flex: 1;
    border: 3px solid #E1A177;
    padding: 36px;
    text-align: center;
    margin: 36px;
}
.card h3 {
    font-size: 24px;
    margin: 0px;
}

.card p {
    font-size: 24px;
    margin: 24px 0px 0px;
}
#market-content p {
    padding: 48px;
}
#market-content h1 {
    padding: 15px;
    font-family: lobster;
    font-size: 48px;
}
#market-content {
    max-width: 1200px;
    margin: 48px auto;
    text-align: center;
}
#footer {
    background-color:#E1A177;
    color: white;
    padding: 12px;
}

#footer a {
    text-decoration: none;
    color: white;
}

#footer-navbar {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
#footer-columns-navbar {
    width: 800px;
    margin: 0px auto;
    padding: 48px 0px;
    display: flex;
    justify-content: space-between;
}

#footer-columns-navbar a {
    display: block;
    padding: 8px 0px;
}
#paragraph1 {
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 48px;
}
#paragraph1 img {
    max-width: 25vw;
    margin-left: 48px;
}
#paragraph1 a {
    text-decoration: none;
    border: 2px solid white;
    background-color: white;
    color: black;
    border-radius: 24px;
    padding: 10px;
    max-width: 120px;
}
.single-column2 {
    min-width: 400px;
    max-width: 1200px;
    margin: 0px auto;
}

#card-section2 {
    padding: 48px;
    background-color: white;
    color: black;
}

.card-container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card2 {
    flex: 1;
    border: 3px solid #E1A177;
    padding: 24px;
    text-align: center;
    margin: 36px;
    border-radius: 24px;
}

.card2 h3 {
    font-size: 24px;
    margin: 0px;
}

.card2 p {
    font-size: 12px;
    margin: 24px 0px 0px;
}
.card2 a {
    font-size: 15px;
    border: 2px solid black;
    border-radius: 24px;
    background-color: black;
    color: white;
    text-align:center;
    padding: 5px;
    text-decoration: none;
}
.card2 img {
    max-width: 200px;
}
#technology h2 {
    text-align: center;
    font-size: 36px;
}
#foxtale {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 48px;
    border-bottom: 4px solid #E1A177;
}
#foxtale img {
    max-width: 400px;
    padding: 48px;
}
.grid-1 a {
    border: 2px solid #E1A177;
    text-align: center;
    border-radius: 24px;
    background-color:#E1A177;
    color: white;
    padding: 5px;
    text-decoration: none;
}
#foxtale h3  {
    font-size: 36px;
}
#ingredients img {
    max-width: 200px;
}
#ingredients {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 48px;
}
#recipes {
    border-bottom: 4px solid #E1A177;
}
#recipes h2 {
    font-size: 36px;
    text-align: center;
}
#ingredients h3 {
    font-size: 36px;
}
#mailing-list {
    background-color: black;
    color: white;
    text-align: center;
    padding: 48px;
}
#mailing-list h3 {
    font-size: 30px;
}
#mailing-list a {
    text-decoration: none;
    color: #E1A177;
    border: 1px solid white;
    padding: 10px;
    border-radius: 24px;
}
@media screen and (min-width: 400px) and (max-width:800px) {
    #navbar {
        display:block;
    }
    #navbar #logo {
        display: inline-block;
    }
    #footer-navbar {
        display:block;
        margin: 20px;
    }
    #footer span {
        display: block;
    }
   

    #foxtale {
        display: block;
    }
    #ingredients {
        display: block;
    }
    .card-container2 {
        display: block;
    }
    
}