* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

#cards-container {
    display:flex;
    flex-wrap: wrap;

}

.card {
    border: 3px solid black;
    margin: 24px;
    padding: 24px;
    border-radius: 12px;
    text-align: center;
}

.card a {
    text-decoration: none;
    color: black;
    display: block;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    margin-top: 350px;
}

#card1 {
    background-color:rgb(234, 213, 222);
    max-width: 300px;
    transition:
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s;
}
#card1:hover {
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
    background-image: url(../images/macaroons.jpg);
    height: 50vh;
    background-size: cover;
    background-position: center center;
    position: relative;
    max-width: 300px;
    
}
#card1 .card-content {
    transition: 
        opacity 0.5s,
        visibility 0.5s;
}

#card1:hover .card-content {
    opacity: 0;
    visibility: hidden;
}
#card2 {
    max-width: 300px;
    background-color:honeydew;
    transition:
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s;
}
#card2:hover {
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
    background-image: url(../images/tart.jpg);
    height: 50vh;
    background-size: cover;
    background-position: center center;
    position: relative;
    max-width: 300px;
    
}
#card2 .card-content {
    transition: 
        opacity 0.5s,
        visibility 0.5s;
}

#card2:hover .card-content {
    opacity: 0;
    visibility: hidden;
}
#card3 {
    max-width: 300px;
    background-color:rgb(201, 233, 245);
    transition:
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s;
}
#card3:hover {
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
    background-image: url(../images/cupcake.jpg);
    height: 50vh;
    background-size: cover;
    background-position: center center;
    position: relative;
    max-width: 300px;
    
}
#card3 .card-content {
    transition: 
        opacity 0.5s,
        visibility 0.5s;
}

#card3:hover .card-content {
    opacity: 0;
    visibility: hidden;
}
#card4 {
    max-width: 300px;
    background-color:rgb(201, 245, 224);
    transition:
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s;
}
#card4:hover {
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
    background-image: url(../images/donuts.jpg);
    height: 50vh;
    background-size: cover;
    background-position: center center;
    position: relative;
    max-width: 300px;
    
}
#card4 .card-content {
    transition: 
        opacity 0.5s,
        visibility 0.5s;
}

#card4:hover .card-content {
    opacity: 0;
    visibility: hidden;
}
