* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#title {
    text-align: center;
    margin: 25px auto;
    font-size: 8vw;
}

#two-column {
    display: grid;
    grid-template-columns: 1fr 4fr 2fr ;
    grid-template-areas: ". main sidebar .";
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.sidebar {
    grid-area: sidebar;
    color: white;
    position: sticky;
    top: 25px;
    height: min-content;
}
.sidebar ul {
    border: 2px solid navy;
    background-color: navy;
    padding: 25px;
    list-style-type: none;
    display: flex;
    flex-flow: column wrap;
    gap: 15px;
    margin-bottom: 25px;
}
.sidebar h2 {
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}
.sidebar a {
    color: white;
    text-decoration: none;
    transition: all .5s;
}
.sidebar a:hover {
    color:darksalmon;
    font-size: 1.125em;
}

.main {
    grid-area: main;
}
.main h1 {
    margin-bottom: 10px;
    font-size: 40px;
}
.main .author, .main .date {
    margin: 10px 0 25px;
    display: inline-block;
    padding-right: 20px;
}

.main .imgtxt {
    display: flex;
    gap: 25px;
    margin-bottom: 25px ;
}
.main .imgtxt p {
    flex: 1;
}
.main .imgtxt div {
    flex: 2;
}

.main .dualimg {
    display: flex;
    margin: 20px 0;
}
.main .dualimg div {
    flex: 1;

}
.main .dualimg div:last-child {
    border-right: none;
}

#about {
    display: grid;
    grid-template-columns: 1fr 500px 150px 1fr;
    grid-template-areas: ". abt abtimg .";
    gap: 40px;
    border-top: 2px solid #790037;
    padding: 25px 0;
    height: min-content;
    max-width: 1200px;
    margin: 25px auto 0;
}
#about .content {
    grid-area: abt;
    display: flex;
    flex-flow: column wrap;
    gap: 15px;
}
#about .img-contain {
    grid-area: abtimg;
    height: 150px;
}
#about .content div {
    display: flex;
    gap: 25px;
}
#about a i {
    font-size: 25px;
    color: #790037;
}
#about .img-contain img {
    object-position: top;
}