* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#title {
    text-align: center;
    margin: 25px auto;
    font-size: 100px;
}

#two-column {
    display: grid;
    grid-template-columns: 1fr 4fr 2fr ;
    grid-template-areas: ". main sidebar .";
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.sidebar {
    grid-area: sidebar;
    color: white;
    position: sticky;
    top: 25px;
    height: min-content;
}
.sidebar ul {
    border: 2px solid navy;
    background-color: navy;
    padding: 25px;
    list-style-type: none;
    display: flex;
    flex-flow: column wrap;
    gap: 15px;
    margin-bottom: 25px;
}
.sidebar h2 {
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}
.sidebar a {
    color: white;
    text-decoration: none;
    transition: all .5s;
}
.sidebar a:hover {
    color:darksalmon;
    font-size: 1.125em;
}

.main-content {
    grid-area: main;
}
.main-content h1 {
    margin-bottom: 10px;
    font-size: 40px;
}
.main-content .author, .main-content .date {
    margin: 10px 0 25px;
    display: inline-block;
    padding-right: 20px;
}

.main-content .paragraph1 {
    display: flex;
    gap: 25px;
    margin-bottom: 25px ;
}
.main-content .paragraph1 p {
    flex: 1;
}
.main-content .paragraph1 div {
    flex: 2;
}

.main-content .landscape-img {
    display: flex;
    margin: 20px 0;
}
.main-content .landscape-img div {
    flex: 1;

}
.main-content .landscape-img div:last-child {
    border-right: none;
}

h2 {
    text-align:center;
}
.paragraph1 p{
    margin-top:25px;
    font-size:20px;
}
.subtitle {
    font-weight:bold;
}
.appenzell-list ol{
    gap:15px;
    padding:24px;
    border-top: 3px solid lightsalmon;
    border-bottom: 3px solid lightsalmon;
}
.landcape-img {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:15px;
    padding:15px;
}
.content h3 {
    text-align:center;
}
.paragraph2 h3 {
    border-bottom: 3px solid lightsalmon;
    padding:15px;
    gap:15px;
}
.paragraph2 p{
    padding:15px;
}

.content {
    display:grid;
    grid-template-columns: 1fr 1fr;
    max-width:500px;
    padding:15px;
    gap:15px;
    margin-left:20%;
}
#about h3 {
    margin-left:21%;
}