/* Drill 1 - Write your code solution below */
#d1-div2 {
    margin-top: 4%;
}

/* Drill 2 - Write your code solution below */
#d2-div2 {
    margin-top: 4%;
    margin-bottom: 4%;
}

/* Drill 3 - Write your code solution below */
#d3-div1 {
    margin-bottom:4%
}

/* Drill 4 - Write your code solution below */
#d4-div2 {
    margin-top:4%;
    margin-bottom:4%;
}

/* Drill 5 - Write your code solution below */
.d5-div {
    text-align:center;
}
#d5-h1-1 {
    margin-top: -4%;
    margin-bottom:-1%;
}

/* Drill 6 - Write your code solution below */
#d6-div1 {
    margin-right:8%;
}
#d6-div2 {
    margin-right:8%;
}
#d6-div3 {
    margin-right:8%;
}

/* Drill 7 - Write your code solution below */
#d7-container {
    text-align: center;

}
#d7-div1 {
    margin-right:8%;
}
#d7-div2 {
    margin-right:8%;
}